<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<core-back></core-back>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title">{{material.name}}</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">Workers</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
						<core-worker
							*ngFor="let user of userService.usersByRole['propertyworker']|workers:0:material.id"
							routerLink="/worker/{{user._id}}"
							[user]="user"
						></core-worker>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">Services</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
						<core-service
							routerLink="/service/{{service.id}}"
							*ngFor="let service of services"
							[service]="service"
						></core-service>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
