<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title" translate>
					Materials.Materials
				</div>
			</div>

			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-content">
						<div class="documents-main-row">
							<core-material
								*ngFor="let material of materials|materials:searchText:service_id"
								routerLink="/material/{{material.id}}"
								[material]="material"
							></core-material>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
