<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div
				class="burger-wrap"
				class="burger-wrap"
				(click)="isMenuOpen=!isMenuOpen"
				[class.burger-wrap--open]="isMenuOpen"
			>
				<div class="burger" [class.burger--close]="isMenuOpen"></div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Title of sidebar...
					</div>
					<div class="documents-sidebar__description">
						<wbutton>Create</wbutton>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<p>Page Materials is connected</p>

						<section>title: Materials</section>
						<section>
							Каталог матеріалів для обслуговування нерухомості.
						</section>
						<section>
							material list with prices and descriptions
						</section>
						<section>
							search bar and filters (category, price range)
						</section>
						<section>
							for user: button to add to cart and view orders
						</section>
					</div>

					<div class="documents-main-content">
						<div class="documents-main-row">Ceramic Tile</div>
						<div class="documents-main-row">Laminate</div>
						<div class="documents-main-row">Parket</div>
						<div class="documents-main-row">Marble</div>
						<div class="documents-main-row">Gypsum Board</div>
						<div class="documents-main-row">Plaster</div>
						<div class="documents-main-row">Paint</div>
						<div class="documents-main-row">
							Insulation Materials
						</div>
						<div class="documents-main-row">Metal Pipes</div>
						<div class="documents-main-row">Plastic Pipes</div>
						<div class="documents-main-row">
							Wood (for construction and furniture)
						</div>
						<div class="documents-main-row">Cement</div>
						<div class="documents-main-row">Concrete</div>
						<div class="documents-main-row">
							Polystyrene (Styrofoam)
						</div>
						<div class="documents-main-row">
							Sealants and Gaskets
						</div>
						<div class="documents-main-row">
							Glass (for windows, doors, partitions)
						</div>
						<div class="documents-main-row">Decorative Stone</div>
						<div class="documents-main-row">
							Fabrics for Curtains and Furniture
						</div>
						<div class="documents-main-row">
							Metal Structures (for fences, roofs)
						</div>
						<div class="documents-main-row">
							Protective Films for Surfaces
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
