<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
            <div class="documents-header">
                <div class="documents-header-left">
                  <div class="documents-header-left__arrow">
                    <span class="material-icons">arrow_back_ios</span>
                  </div>
                  <div routerlink="/profile" class="documents-header-left__avatar" tabindex="0" ng-reflect-router-link="/profile">
                    <img alt="" src="assets/default.png">
                  </div>
                </div>
                <div class="documents-header__title">Title header</div>
                <div class="burger-wrap" class="burger-wrap"  (click)="isMenuOpen=!isMenuOpen" [class.burger-wrap--open]="isMenuOpen">
                    <div class="burger" [class.burger--close]="isMenuOpen"></div>
                </div> 
              </div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
			<div
			(click)="isMenuOpen = !isMenuOpen"
			class="documents-sidebar__close"
		>
			<span class="material-icons">close</span>
		</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__title">Filters</div>

					<wselect
						[items]="['Under 100$', '100$ - 500$', '500$ - 1000$', 'Above 1000$']"
						[clearable]="true"
						[multiple]="true"
						placeholder="Price Range"
					></wselect>
					<wselect
						[items]="['Wood', 'Concrete', 'Steel', 'Plastic', 'Glass']"
						[clearable]="true"
						[multiple]="true"
						placeholder="Material Type"
					></wselect>
					<wselect
						[items]="['Construction', 'Water supply', 'Wiring the light', 'Renovation', 'Furniture', 'Interior Design', 'Landscaping']"
						[clearable]="true"
						[multiple]="true"
						placeholder="Usage Industry"
					></wselect>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<!-- Статичне вікно пошуку -->
					<div class="search-container">
						<input
							type="text"
							placeholder="Search materials..."
							class="search-input"
							disabled
						/>
					</div>

					<div class="documents-main-content">
						<div class="documents-main-row">Ceramic Tile</div>
						<div class="documents-main-row">Laminate</div>
						<div class="documents-main-row">Parket</div>
						<div class="documents-main-row">Marble</div>
						<div class="documents-main-row">Gypsum Board</div>
						<div class="documents-main-row">Plaster</div>
						<div class="documents-main-row">Paint</div>
						<div class="documents-main-row">
							Insulation Materials
						</div>
						<div class="documents-main-row">Metal Pipes</div>
						<div class="documents-main-row">Plastic Pipes</div>
						<div class="documents-main-row">
							Wood (for construction and furniture)
						</div>
						<div class="documents-main-row">Cement</div>
						<div class="documents-main-row">Concrete</div>
						<div class="documents-main-row">
							Polystyrene (Styrofoam)
						</div>
						<div class="documents-main-row">
							Sealants and Gaskets
						</div>
						<div class="documents-main-row">
							Glass (for windows, doors, partitions)
						</div>
						<div class="documents-main-row">Decorative Stone</div>
						<div class="documents-main-row">
							Fabrics for Curtains and Furniture
						</div>
						<div class="documents-main-row">
							Metal Structures (for fences, roofs)
						</div>
						<div class="documents-main-row">
							Protective Films for Surfaces
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
