<div class="documents-wrapper documents-wrapper--open">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header__title">
					Property: {{ property.name }}
				</div>
			</div>

			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents-block-text">
							<div class="documents__name">
								{{ property.name }}
							</div>

							<div
								*ngIf="property.description"
								class="documents-prop-wrap"
							>
								<span class="material-icons">description</span>
								<div class="documents-prop-text">
									{{ property.description }}
								</div>
							</div>

							<div
								*ngIf="property.address"
								class="documents-prop-wrap"
							>
								<span class="material-icons">location_on</span>
								<div class="documents-prop-text">
									{{ property.address }}
								</div>
							</div>

							<div
								*ngIf="property.areas"
								class="documents-prop-wrap"
							>
								<span class="material-icons">square_foot</span>
								<div class="documents-prop-text">
									Area: {{ property.areas }} m²
								</div>
							</div>

							<div
								*ngIf="property.rooms"
								class="documents-prop-wrap"
							>
								<span class="material-icons">apartment</span>
								<div class="documents-prop-text">
									{{ property.rooms }}
								</div>
							</div>

							<div
								*ngIf="property.floors"
								class="documents-prop-wrap"
							>
								<span class="material-icons">stairs</span>
								<div class="documents-prop-text">
									Floor: {{ property.floors }}
								</div>
							</div>

							<div
								*ngIf="property.renovations"
								class="documents-prop-wrap"
							>
								<span class="material-icons">construction</span>
								<div class="documents-prop-text">
									{{ property.renovations }}
								</div>
							</div>

							<div
								*ngIf="property.appliances"
								class="documents-prop-wrap"
							>
								<span class="material-icons">kitchen</span>
								<div class="documents-prop-text">
									{{ property.appliances }}
								</div>
							</div>

							<div
								*ngIf="property.utilities"
								class="documents-prop-wrap"
							>
								<span class="material-icons">water_drop</span>
								<div class="documents-prop-text">
									{{ property.utilities }}
								</div>
							</div>

							<div
								*ngIf="property.propertyTypes"
								class="documents-prop-wrap"
							>
								<span class="material-icons"
									>holiday_village</span
								>
								<div class="documents-prop-text">
									{{ property.propertyTypes }}
								</div>
							</div>

							<div
								*ngIf="property.buildingTypes"
								class="documents-prop-wrap"
							>
								<span class="material-icons">home_work</span>
								<div class="documents-prop-text">
									{{ property.buildingTypes }}
								</div>
							</div>

							<div
								*ngIf="property.nearbys"
								class="documents-prop-wrap"
							>
								<span class="material-icons">map</span>
								<div class="documents-prop-text">
									{{ property.nearbys }}
								</div>
							</div>

							<!-- Типові блоки -->
							<ng-container [ngSwitch]="type">
								<ng-container *ngSwitchCase="'Monthly Rent'">
									<div class="documents-prop-wrap">
										<span class="material-icons">pets</span>
										<div class="documents-prop-text">
											{{ property.pets }}
										</div>
									</div>
									<div class="documents-prop-text">
										${{ property.pricePerMountly }}
									</div>
								</ng-container>

								<ng-container *ngSwitchCase="'Daily Rent'">
									<div class="documents-prop-wrap">
										<span class="material-icons"
											>hotel</span
										>
										<div class="documents-prop-text">
											{{ property.sleepingPlaces }}
										</div>
									</div>
									<div class="documents-prop-text">
										${{ property.pricePerDay }}
									</div>
								</ng-container>

								<ng-container *ngSwitchCase="'For Sale'">
									<div class="documents-prop-text">
										${{ property.price }}
									</div>
								</ng-container>

								<ng-container *ngSwitchCase="'Partial Sale'">
									<div class="documents-prop-text">
										${{ property.pricePerPartial }}
									</div>
								</ng-container>

								<ng-container *ngSwitchCase="'Auction Sale'">
									<div class="documents-prop-wrap">
										<span class="material-icons"
											>attach_money</span
										>
										<div class="documents-prop-text">
											Bid: {{ property.minimumbidincrement
											}}
										</div>
									</div>
									<div class="documents-prop-wrap">
										<span class="material-icons"
											>gavel</span
										>
										<div class="documents-prop-text">
											{{ property.auctionrules }}
										</div>
									</div>
									<div class="documents-prop-wrap">
										<span class="material-icons"
											>event</span
										>
										<div class="documents-prop-text">
											{{ property.auctiondate | date:
											'mediumDate' }}
										</div>
									</div>
									<div class="documents-prop-text">
										${{ property.startingprice }}
									</div>
								</ng-container>
							</ng-container>

							<!-- Зображення -->
							<div class="documents-block-img">
								<img
									src="assets/prop.jpg"
									alt="Property Image"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
