<div class="services-main">
	<div class="documents_services_box">
		<div class="documents_services_box-item">
			<div class="services-img">
				<img
					[src]="'assets/services/' + service.image"
					[alt]="service.name"
				/>
			</div>
			<div class="documents__service services__title">
				{{ ('Service.' + service.name) | translate }}
			</div>
			<div class="documents__description services__description">
				{{ ('ServiceDescription.' + service.description) | translate }}
			</div>
		</div>
	</div>
</div>
