<head>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtLqlAkgc34W4r4MbjplTnKn5PqcTDCZE&libraries=places"
		async
		defer
	></script>
</head>

<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Title header</div>
				<div (click)="isMenuOpen = !isMenuOpen" class="burger-wrap">
					<div
						[class.burger--close]="isMenuOpen"
						class="burger"
					></div>
				</div>
			</div>

			<div
				[class.documents-sidebar--open]="isMenuOpen"
				class="documents-sidebar"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Title of sidebar...
					</div>
					<div class="documents-sidebar__description">
						Lorem ipsum dolor sit amet consectetur adipisicing
						elit...
					</div>
				</div>
			</div>

			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
					</div>
				</div>

				<!-- Додаємо компонент Google Map після основного контенту -->
				<google-map
					height="500px"
					width="100%"
					[center]="center"
					[zoom]="zoom"
				>
					<map-marker
						*ngFor="let task of tasks"
						[position]="task.location"
						[label]="task.title"
					></map-marker>
				</google-map>
			</div>
		</div>
	</div>
</div>
