<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title">
					{{user.name || user.email}}
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<!-- TODO Denys or Anastasia: prepare form which will create record of potentional work on user property -->
						<div class="documents__title">
							Propose contract to this worker
						</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
						<wform [config]="formDoc"></wform>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">Portfolio</div>
						<div class="documents-triggers">
							<div
								class="documents-triggers__wrap"
								*ngFor="let portfolio of portfolios"
							>
								<div class="documents-triggers__item">
									<div
										class="documents-triggers__img"
										*ngFor="let image of portfolio.images"
									>
										<img [src]="image" alt="" />
									</div>
									<div class="documents-triggers__title">
										{{portfolio.name}}
									</div>
									<div
										class="documents-triggers__description"
									>
										{{portfolio.description}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">Services</div>

						<ng-container *ngFor="let service_id of services">
							<core-service
								routerLink="/service/{{service_id}}"
								[service]="service[service_id]"
								*ngIf="service[service_id]"
							></core-service>
						</ng-container>
					</div>
					<div class="documents-main-row">
						<div class="documents__title">Materials</div>

						<ng-container *ngFor="let material_id of materials">
							<core-material
								routerLink="/material/{{material_id}}"
								[material]="material[material_id]"
								*ngIf="material[material_id]"
							></core-material>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
