<div class="propperty-p">
	<div class="documents-wrapper">
		<!-- коли нема контенту
		<div class="guide-bg">
			<img src="assets/bg/1.png" alt="">
		</div>-->
		<div class="documents-container">
			<div class="documents-list">
				<div class="documents-header">
					<div class="documents-header-left">
						<core-back></core-back>
						<core-profile></core-profile>
					</div>
					<div class="documents-header__title" translate>
						Myproperties.My real estates
					</div>
					<div class="burger-wrap">
						<i class="material-icons" (click)="create()">add</i>
					</div>
				</div>
				<div class="documents-main">
					<div class="documents-main-content">
						<div
							*ngFor="let property of properties"
							class="documents-main-row"
						>
							<app-myproperty
								[property]="property"
								(load)="load()"
							></app-myproperty>
						</div>
						<!-- коли нема контенту
						 <div class="guide-wrapper">
							<div class="guide__text">
								Натисніть кнопку 
							</div>
							<div class="guide__plus" (click)="create()">
								+
							</div>
							<div class="guide__text">
								що б додати нерухомість
							</div>
						 </div>-->

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
