<div class="propperty-p">
	<div class="documents-wrapper">
		<div class="documents-container">
			<div class="documents-list">
				<div class="documents-header">
					<div class="documents-header-left">
						<core-back></core-back>
						<core-profile></core-profile>
					</div>
					<div class="documents-header__title" translate>
						Myproperties.My real estates
					</div>
					<div class="burger-wrap">
						<i class="material-icons" (click)="create()">add</i>
					</div>
				</div>
				<div class="documents-main">
					<div class="documents-main-content">
						<div
							*ngFor="let property of properties"
							class="documents-main-row"
						>
							<app-myproperty
								[property]="property"
								(load)="load()"
							></app-myproperty>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
