<div class="propperty-p">
	<div class="documents-wrapper">
		<div class="documents-container">
			<div class="documents-list">
				<div class="documents-header">
					<div class="documents-header-left">
						<div class="documents-header-left__arrow">
							<span class="material-icons">arrow_back_ios</span>
						</div>
						<div
							routerlink="/profile"
							class="documents-header-left__avatar"
							tabindex="0"
							ng-reflect-router-link="/profile"
						>
							<img alt="" src="assets/default.png" />
						</div>
					</div>
					<div class="documents-header__title" translate>
						Myproperties.My properties
					</div>
					<div class="burger-wrap">
						<i class="material-icons" (click)="create()">add</i>
					</div>
				</div>
				<div class="documents-main">
					<div class="documents-main-content">
						<div
							*ngFor="let property of properties"
							class="documents-main-row"
						>
							<app-myproperty
								[property]="property"
								(load)="load()"
							></app-myproperty>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
<wbutton type="danger">danger</wbutton>
<wbutton> 213123</wbutton>
<wbutton type="secondary">secondary</wbutton>
<wbutton type="success">success</wbutton>
<wbutton type="warning">_warning</wbutton>
<wbutton type="info">info</wbutton>
<wbutton type="light">light</wbutton>
<wbutton type="dark">dark</wbutton>
<wbutton type="link">link</wbutton>

--></div>
