<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<core-back></core-back>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title">{{service.name}}</div>
				<div class="burger-wrap" class="burger-wrap">
					<div class="burger"></div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">
							<winput
								placeholder="Enter service name..."
								[value]="service.name"
								(wChange)="update()"
							></winput>
						</div>
						<div class="documents__description">
							<winput
								placeholder="Enter service description..."
								[value]="service.description"
								(wChange)="update()"
								type="textarea"
							></winput>
						</div>
						<div
							class="documents__description"
							*ngIf="service.deadline"
						>
							<span translate>Common.Deadline</span>
							<span>{{service.deadline}}</span>
						</div>
					</div>
					<div
						*ngFor="let service of services"
						class="documents-main-row"
					>
						<div class="documents__title">{{service.name}}</div>
						<div class="documents__description">
							{{service.description}}
						</div>
						<div
							class="documents__description"
							*ngIf="service.deadline"
						>
							<span translate>Common.Deadline</span>
							<span>{{service.deadline}}</span>
						</div>
					</div>

					<div
						*ngIf="userService.user._id !== service.author"
						class="documents-main-row"
					>
						<wform
							[submition]="submitionProposal"
							[config]="formProposal"
							(wSubmit)="updateProposal()"
						></wform>

						<wbutton (click)="updateProposal()">Update</wbutton>
					</div>

					<ng-container
						*ngIf="userService.user._id === service.author"
					>
						<div class="documents-main-row">
							<div class="documents__title">Honchar Denys</div>
							<div class="documents__description">
								Price: 500$ Workdays: 5 Deadline: 05/05/25
								Price: 500$
							</div>
							<div class="documents-tags">
								<div
									class="documents-tags__wrap"
									*ngFor="let tag of [{}, {}, {}, {}, {}]"
								>
									<div class="documents-tags__item">
										Smth here
									</div>
								</div>
							</div>

							<wbutton>Ask detailed proposal</wbutton>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
