<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow">
						<span class="material-icons" (click)="goBack()"
							>arrow_back_ios</span
						>
					</div>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title">{{job.name || 'Job'}}</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					@if(job.author === userService.user._id) {
					<div class="documents__title" translate>
						Job.Job details
					</div>
					<div class="documents-main-row">
						<div class="job__input-title">
							<winput
								(wChange)="job.name = $event + ''; update()"
								placeholder="Enter title..."
								[value]="job.name"
							></winput>
						</div>
						<div class="job__input-title">
							<winput
								(wChange)="job.description = $event + ''; update()"
								placeholder="Enter description..."
								[value]="job.description"
								(wChange)="update()"
								type="textarea"
							></winput>
						</div>
						<div
							class="documents__description"
							*ngIf="job.deadline"
						>
							<winput
								(wChange)="job.deadline = $event + ''; update()"
								placeholder="Enter deadline..."
								[value]="job.deadline"
								(wChange)="update()"
								type="date"
							></winput>
						</div>
					</div>
					} @else if (job.description || job.deadline) {
					<div class="documents-main-row">
						<div class="job__input-title" *ngIf="job.description">
							{{job.description}}
						</div>
						<div
							class="documents__description"
							*ngIf="job.deadline"
						>
							<span translate>Common.Deadline</span>
							<span>: {{job.deadline|date}}</span>
						</div>
					</div>
					} @if (jobs.length) {
					<div class="documents__title">Other jobs</div>
					<div *ngFor="let job of jobs" class="documents-main-row">
						<div class="documents__title">{{job.name}}</div>
						<div class="documents__description">
							{{job.description}}
						</div>
						<div class="documents__description" *ngIf="job.start">
							<span translate>Common.Start date</span>
							<span>: {{job.start|date}}</span>
						</div>
						<div
							class="documents__description"
							*ngIf="job.deadline"
						>
							<span translate>Common.Deadline</span>
							<span>: {{job.deadline|date}}</span>
						</div>
					</div>
					} @if (job.author && userService.user._id !== job.author) {
					<div class="documents__title">Make proposal</div>
					<div class="documents-main-row">
						<wform
							[submition]="submitionProposal"
							[config]="formProposal"
							(wSubmit)="updateProposal()"
							class="job-form"
						></wform>

						<wbutton (click)="updateProposal()">Update</wbutton>
					</div>

					} @if (userService.user._id === job.author) { @for (proposal
					of proposals; track proposal._id ) {

					<div class="documents-main-row">
						<div class="documents__title">
							{{userService.doc(proposal.author).name}}
						</div>
						<div class="documents__description">
							Price: {{proposal.price}}$ Workdays:
							{{proposal.workdays}} @if(proposal.start) { start:
							{{proposal.start|date}} } @if(proposal.deadline) {
							Deadline: {{proposal.deadline|date}} }
						</div>
						<div class="documents-tags">
							<div
								class="documents-tags__wrap"
								*ngFor="let unit of proposal.units"
							>
								<div class="documents-tags__item">
									{{unit.name}} -
									{{unit.use}}{{unit.type}}/{{unit.price}}$
								</div>
							</div>
						</div>
						@if(!proposal.moreDetails) {
						<wbutton (click)="moreDetails(proposal)"
							>Ask detailed proposal</wbutton
						>
						} @if(!job.worker) {
						<wbutton (click)="assignWorker(proposal)"
							>Ask detailed proposal</wbutton
						>
						}
					</div>
					} } tasks list {{job.worker}}
				</div>
			</div>
		</div>
	</div>
</div>
