<div class="worker-card">
	<div class="documents-prop-wrap">
		<div class="documents-prop-icon">
			<span class="material-icons">person</span>
		</div>
		<div class="documents-prop-text">{{ provider.name }}</div>
	</div>
	<div class="materials-wrapper">
		<div class="materials-wrapper__icon"></div>
		<div class="materials-wrapper__text">
			Position: <span class="">pos</span>
		</div>
	</div>
	<div class="materials-wrapper">
		<div class="materials-wrapper__icon"></div>
		<div class="materials-wrapper__text">
			Experience: <span class="">pos</span>
		</div>
	</div>
	<div class="materials-wrapper">
		<div class="materials-wrapper__icon"></div>
		<div class="materials-wrapper__text">
			Task: <span class="">pos</span>
		</div>
	</div>
	<div class="materials-wrapper">
		<div class="materials-wrapper__icon"></div>
		<div class="materials-wrapper__text">
			Status: <span class="">pos</span>
		</div>
	</div>
	<div class="materials-wrapper">
		<div class="materials-wrapper__icon"></div>
		<a routerLink="//{{provider._id}}" class="materials-wrapper__text"
			>Task: <span class="">pos</span></a
		>
	</div>
	<div class="business-contacts workers-contacts">
		<a href="" class="business-contacts-social documents-prop-wrap">
			<div class="business-contacts-social__icon documents-prop-icon">
				<span class="material-icons">call</span>
			</div>
			<div class="business-contacts-social__text documents-prop-text">
				+380734356878
			</div>
		</a>
		<a href="" class="business-contacts-social documents-prop-wrap">
			<div class="business-contacts-social__icon documents-prop-icon">
				<span class="material-icons">outgoing_mail</span>
			</div>
			<div class="business-contacts-social__text documents-prop-text">
				testrrmail
			</div>
		</a>
		<a href="" class="business-contacts-social documents-prop-wrap">
			<div class="business-contacts-social__icon documents-prop-icon">
				<span class="material-icons">language</span>
			</div>
			<div class="business-contacts-social__text documents-prop-text">
				Web site
			</div>
		</a>
	</div>
</div>
