.hub-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);  
    @media (max-width: 768px) {
        margin-top: 20px;
        height: calc(100vh - 120px);  
    }
}

.hub-item {
  flex: 1;                  /* Равномерно делит высоту */
  display: flex;            /* (необязательно) — чтобы выравнивать содержимое */
  align-items: center;      /* центрирование по вертикали */
      border: 1px solid #cccccc2e;
  padding: 10px 20px;
    background: var(--c-bg-secondary);
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background: #343434a3;
    }
}

.hub-img{
    width: 50px;
    height: 50px;
    background: rgba(88, 141, 244, 0.21);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hub-text{
    font-size: 28px;
    padding-left: 15px;
}


.documents-prop-glwrapper{
    display: flex;
    flex-flow: row wrap;
    .documents-prop-wrap{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .documents-prop-icon {
        width: 24px;
        height: 24px;
        span {
            font-size: 18px;
        }
    }   
    .documents-prop-text {
        padding: 0 0 0 8px;
        font-size: 15px;
    }
    .documents-block-img{
        margin-bottom: 15px;
        max-width: 250px;
        img{
            border-radius: 6px;
        }
    }
    .documents__name {
        font-size: 18px;
        font-weight: 600;
    }
}