<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<core-back></core-back>
					<core-profile></core-profile>
				</div>
				<div class="documents-header__title">
					{{ (type ? 'Hub.'+type : 'Hub.Marketplace' ) | translate }}
				</div>
				<div class="burger-wrap">
					<i
						(click)="isMenuOpen=!isMenuOpen"
						class="material-icons"
						*ngIf="type"
						>tune</i
					>
				</div>
			</div>

			<div class="documents-main documents-main--full" *ngIf="!type">
				<div class="hub-wrapper">
					<div
						routerLink="/marketplace/{{type}}"
						*ngFor="let type of types"
						class="hub-item"
					>
						<div class="hub-img">
							<i class="material-icons">{{type_icon[type]}}</i>
						</div>
						<div class="hub-text">
							<span>{{'Hub.'+type|translate}}</span>
						</div>
					</div>
				</div>
			</div>

			<div
				[class.documents-sidebar--open]="isMenuOpen"
				class="documents-sidebar"
				*ngIf="!selectType"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__title mb-10">Filters</div>

					<!-- Property Type -->
					<wselect
						(modelChange)="selectedPropertyTypes = $event; load()"
						placeholder="Property Type"
						[items]="propertyTypes"
						[clearable]="true"
						[multiple]="true"
						class="mb-10"
					></wselect>

					<!-- Number of Rooms -->
					<wselect
						(modelChange)="selectedRooms = $event; load()"
						placeholder="Number of Rooms"
						[clearable]="true"
						[multiple]="true"
						[items]="rooms"
						class="mb-10"
					></wselect>

					<!-- Floor -->
					<wselect
						(modelChange)="selectedFloors = $event; load()"
						placeholder="Floor"
						[clearable]="true"
						[multiple]="true"
						[items]="floors"
						class="mb-10"
					></wselect>

					<!-- Area (m²) -->
					<wselect
						(modelChange)="selectedAreas = $event; load()"
						[items]="areas"
						[clearable]="true"
						[multiple]="true"
						placeholder="Area (m²)"
						class="mb-10"
					></wselect>

					<!-- Building Type -->
					<wselect
						(modelChange)="selectedBuildingTypes = $event; load()"
						placeholder="Building Type"
						[items]="buildingTypes"
						[clearable]="true"
						[multiple]="true"
						class="mb-10"
					></wselect>

					<!-- Condition / Renovation -->
					<wselect
						(modelChange)="selectedRenovations = $event; load()"
						placeholder="Renovation"
						[items]="renovations"
						[clearable]="true"
						[multiple]="true"
						class="mb-10"
					></wselect>

					<!-- Appliances -->
					<wselect
						(modelChange)="selectedAppliances = $event; load()"
						placeholder="Appliances"
						[items]="appliances"
						[clearable]="true"
						[multiple]="true"
						class="mb-10"
					></wselect>

					<!-- Utilities -->
					<wselect
						(modelChange)="selectedUtilities = $event; load()"
						placeholder="Utilities"
						[clearable]="true"
						[multiple]="true"
						[items]="utilities"
						class="mb-10"
					></wselect>

					<!-- Nearby Infrastructure -->
					<wselect
						(modelChange)="selectedNearbys = $event; load()"
						placeholder="Nearby Infrastructure"
						[clearable]="true"
						[multiple]="true"
						[items]="nearbys"
						class="mb-10"
					></wselect>

					<!-- Prices -->
					<wselect
						(modelChange)="selectedPrices = $event; load()"
						placeholder="Price"
						[clearable]="true"
						[multiple]="true"
						[items]="prices"
						class="mb-10"
					></wselect>
					<div
						*ngIf="type ===  'Monthly Rent' || type ==='Daily Rent'"
					>
						<!-- Pets -->
						<wselect
							(modelChange)="selectedPets = $event; load()"
							placeholder="Pets"
							[clearable]="true"
							[multiple]="true"
							[items]="pets"
							class="mb-10"
						></wselect>
					</div>

					<div *ngIf="type === 'Daily Rent'">
						<!-- SleepingPlaces -->
						<wselect
							(modelChange)="selectedSleepingPlaces = $event; load()"
							placeholder="SleepingPlaces"
							[clearable]="true"
							[multiple]="true"
							[items]="sleepingPlaces"
							class="mb-10"
						></wselect>
					</div>
				</div>
			</div>

			<div class="documents-main" *ngIf="!selectType">
				<div class="documents-main-content">
						<!-- коли нема контенту
						<div class="guide-bg guide-bg--sale">
							<img src="assets/bg/2.png" alt="">
							<div class="guide-wrapper">
								<div class="guide__text">
									Додайте 
								</div>
								<div class="guide__text">
									нерухомість
								</div>
								<a href="/properties" class="guide__plus">
									<span class="material-icons" style="color: var(--c-text-primary);">location_city</span>
								</a>
							</div>
						</div>-->

					<div
						*ngFor="let property of properties"
						class="documents-main-row">
						<a
							routerLink="/property/{{property._id}}/{{type}}"
							cl	ass="documents-block-list"
							style="text-decoration: none; color: inherit"
						>
							<div class="documents-block-text">
								<div
									class="mb-20"
									*ngIf="type === 'For Sale' || type === 'Partial Sale' || type === 'Monthly Rent' || type === 'Daily Rent' || type === 'Auction Sale'"
								>
	
									<div class="documents__name mb-10">
										{{property.name}} 
									</div>

							
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>location_on</span
											>
										</div>
										<div class="documents-prop-text">
											{{property.address}}
										</div>
									</div>
								</div>

								<div
									*ngIf="type === 'Daily Rent'"
									class="documents-block-text__rent"
								>
									
									<div class="documents-prop-wrap">
										<div class="documents-prop-text">
											$ {{property.pricePerDay}}
										</div>
									</div>
								</div>

								<div
									*ngIf="type === 'For Sale'"
									class="documents-block-text__rent"
								>
								
									<div class="documents__price">
										$ {{property.price}}
									</div>
								</div>

								<div *ngIf="type === 'Partial Sale'">
					
									<div class="documents-prop-wrap">
										<div class="documents-prop-text">
											$ {{property.pricePerPartial}}
										</div>
									</div>
								</div>

								<div *ngIf="type === 'Monthly Rent'">
								
									<div class="documents-prop-wrap">
										<div class="documents-prop-text">
											$ {{property.pricePerMountly}}
										</div>
									</div>
								</div>

								<div *ngIf="type === 'Auction Sale'">

									<div class="documents-prop-wrap">
										<div class="documents-prop-text">
											$ {{property.startingprice}}
										</div>
									</div>
								</div>
							</div>
							<div class="documents-block-img">
								<img src="assets/prop.jpg" alt="" />
							</div>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
