// ===== ADD NEEDED SIZED SEPARETED BY SPACE: $margin-px: 0 10 20 30; =====
$margin-px: 0;
$margin-x-px: 0;
$margin-y-px: 0;
$margin-top-px: 0 10;
$margin-bottom-px: 0 15;
$margin-left-px: 0;
$margin-right-px: 0;

//margin top
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.mt-30{
	margin-top: 30px;
}
//margin bottom
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-30{
	margin-bottom: 30px;
}
//margin right
.mr-5{
	margin-right: 5px;
}
.mr-10{
	margin-right: 10px;
}
.mr-20{
	margin-right: 20px;
}
.mr-30{
	margin-right: 30px;
}
//margin left
.ml-5{
	margin-left: 5px;
}
.ml-10{
	margin-left: 10px;
}
.ml-20{
	margin-left: 20px;
}
.ml-30{
	margin-left: 30px;
}

// ===== GENERATORS =====
@mixin margin {
	@each $i in $margin-px {
		.m#{$i} {
			margin: #{$i}px !important;
		}
	}
	@each $i in $margin-x-px {
		.mx#{$i} {
			margin-left: #{$i}px !important;
			margin-right: #{$i}px !important;
		}
	}
	@each $i in $margin-y-px {
		.my#{$i} {
			margin-top: #{$i}px !important;
			margin-bottom: #{$i}px !important;
		}
	}
	@each $i in $margin-top-px {
		.mt#{$i} {
			margin-top: #{$i}px !important;
		}
	}
	@each $i in $margin-bottom-px {
		.mb#{$i} {
			margin-bottom: #{$i}px !important;
		}
	}
	@each $i in $margin-left-px {
		.ml#{$i} {
			margin-left: #{$i}px !important;
		}
	}
	@each $i in $margin-right-px {
		.mr#{$i} {
			margin-right: #{$i}px !important;
		}
	}
}

@include margin;
