<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						routerlink="/profile"
						class="documents-header-left__avatar"
						tabindex="0"
						ng-reflect-router-link="/profile"
					>
						<img alt="" src="assets/default.png" />
					</div>
				</div>
				<div class="documents-header__title" translate>
					Markets.Real Estate Hub
				</div>
				<div
					class="burger-wrap"
					class="burger-wrap"
					(click)="isMenuOpen=!isMenuOpen"
					[class.burger-wrap--open]="isMenuOpen"
				>
					<div
						class="burger"
						[class.burger--close]="isMenuOpen"
					></div>
				</div>
			</div>

			<div class="documents-main documents-main--full" *ngIf="selectType">
				<!-- TODO Andrew, I see this as wide blocks with small height, or even fit screen height, there is fixed items, so can we easily calculated height -->
				<div class="hub-wrapper">
					<div *ngFor="let type of types" routerLink="/hub/{{type}}" class="hub-item">
						<div class="hub-img">
							<i class="material-icons">{{type_icon[type]}}</i>
						</div>	
						<div class="hub-text">
							<span>{{'Hub.'+type|translate}}</span>
						</div>


				</div>
				</div>
			</div>

			<div
				[class.documents-sidebar--open]="isMenuOpen"
				class="documents-sidebar"
				*ngIf="!selectType"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__title">Filters</div>

					<!-- Property Type -->
					<wselect
						(modelChange)="selectedPropertyTypes = $event; load()"
						placeholder="Property Type"
						[items]="propertyTypes"
						[clearable]="true"
						[multiple]="true"
					></wselect>

					<!-- Number of Rooms -->
					<wselect
						(modelChange)="selectedRooms = $event; load()"
						placeholder="Number of Rooms"
						[clearable]="true"
						[multiple]="true"
						[items]="rooms"
					></wselect>

					<!-- Floor -->
					<wselect
						(modelChange)="selectedFloors = $event; load()"
						placeholder="Floor"
						[clearable]="true"
						[multiple]="true"
						[items]="floors"
					></wselect>

					<!-- Area (m²) -->
					<wselect
						(modelChange)="selectedAreas = $event; load()"
						[items]="areas"
						[clearable]="true"
						[multiple]="true"
						placeholder="Area (m²)"
					></wselect>

					<!-- Building Type -->
					<wselect
						(modelChange)="selectedBuildingTypes = $event; load()"
						placeholder="Building Type"
						[items]="buildingTypes"
						[clearable]="true"
						[multiple]="true"
					></wselect>

					<!-- Condition / Renovation -->
					<wselect
						(modelChange)="selectedRenovations = $event; load()"
						placeholder="Renovation"
						[items]="renovations"
						[clearable]="true"
						[multiple]="true"
					></wselect>

					<!-- Appliances -->
					<wselect
						(modelChange)="selectedAppliances = $event; load()"
						placeholder="Appliances"
						[items]="appliances"
						[clearable]="true"
						[multiple]="true"
					></wselect>

					<!-- Utilities -->
					<wselect
						(modelChange)="selectedUtilities = $event; load()"
						placeholder="Utilities"
						[clearable]="true"
						[multiple]="true"
						[items]="nearbys"
					></wselect>

					<!-- Nearby Infrastructure -->
					<wselect
						(modelChange)="selectedNearbys = $event; load()"
						placeholder="Nearby Infrastructure"
						[clearable]="true"
						[multiple]="true"
						[items]="utilities"
					></wselect>

					<!-- Prices -->
					<wselect
						(modelChange)="selectedPrices = $event; load()"
						placeholder="Price"
						[clearable]="true"
						[multiple]="true"
						[items]="prices"
					></wselect>
				</div>
			</div>

			<div class="documents-main" *ngIf="!selectType">
				<div class="documents-main-content">
					<div
						*ngFor="let property of properties"
						class="documents-main-row"
					>
						<div class="documents-block-list">
							<div class="documents-block-text">
								<div class="documents-block-text">
									<!-- Property Title -->
									<div class="documents__name">
										3-Room Apartment near Lukianivska Metro
									</div>

									<!-- Description -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>description</span
											>
										</div>
										<div class="documents-prop-text">
											Bright and spacious apartment with
											renovation, two-sided layout,
											balcony, and basement. Ideal for a
											family.
										</div>
									</div>

									<!-- Address -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>location_on</span
											>
										</div>
										<div class="documents-prop-text">
											23 Sichovykh Striltsiv St., Kyiv
										</div>
									</div>

									<!-- Property Type -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>holiday_village</span
											>
										</div>
										<div class="documents-prop-text">
											Apartment
										</div>
									</div>

									<!-- Building Type -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>home_work</span
											>
										</div>
										<div class="documents-prop-text">
											New Building
										</div>
									</div>

									<!-- Area -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>square_foot</span
											>
										</div>
										<div class="documents-prop-text">
											82 sq. m
										</div>
									</div>

									<!-- Rooms -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>apartment</span
											>
										</div>
										<div class="documents-prop-text">
											3 rooms
										</div>
									</div>

									<!-- Floor -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>stairs</span
											>
										</div>
										<div class="documents-prop-text">
											5th floor
										</div>
									</div>

									<!-- Renovation -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>construction</span
											>
										</div>
										<div class="documents-prop-text">
											Modern renovation, ready to move in
										</div>
									</div>

									<!-- Appliances -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>kitchen</span
											>
										</div>
										<div class="documents-prop-text">
											Refrigerator, oven, dishwasher,
											washing machine
										</div>
									</div>

									<!-- Utilities -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>water_drop</span
											>
										</div>
										<div class="documents-prop-text">
											Electricity, gas, water, heating
										</div>
									</div>

									<!-- Nearby -->
									<div class="documents-prop-wrap">
										<div class="documents-prop-icon">
											<span class="material-icons"
												>map</span
											>
										</div>
										<div class="documents-prop-text">
											Metro, schools, park, supermarkets,
											cafes
										</div>
									</div>

									<!-- Price -->
									<div class="documents__price">
										USD 125,000
									</div>
								</div>
							</div>
						</div>
						<div class="documents-block-img">
							<img src="assets/prop.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
