<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title" translate>
					Workers.Workers
				</div>
				<div
					class="burger-wrap"
					class="burger-wrap"
					(click)="isMenuOpen=!isMenuOpen"
					[class.burger-wrap--open]="isMenuOpen"
				>
					<div
						class="burger"
						[class.burger--close]="isMenuOpen"
					></div>
				</div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__title">
						Choose a category
					</div>

					<wselect
						[items]="['Electrician', 'Santechnuk']"
						[clearable]="true"
						placeholder="All"
					></wselect>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<core-worker
							*ngFor="let user of userService.usersByRole['propertyworker']|workers:service_id:material_id"
							routerLink="/worker/{{user._id}}"
							[user]="user"
						></core-worker>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
