<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Title header</div>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="burger-wrap"
					class="burger-wrap"
				>
					<div
						[class.burger--close]="isMenuOpen"
						class="burger"
					></div>
				</div>
			</div>
			<div
				[class.documents-sidebar--open]="isMenuOpen"
				class="documents-sidebar"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="" />
					</div>
					<div class="documents-sidebar__title">
						Title of sidebar...
					</div>
					<div class="documents-sidebar__description">
						<wbutton (click)="create()">Create</wbutton>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<img src="assets/default.png" alt="" />
						Cleaning Services
					</div>
					<div class="documents-main-row">
						<img src="assets/default.png" alt="" />
						Electrical Work
					</div>
					<div class="documents-main-row">
						<img src="assets/default.png" alt="" />
						Plumbing Services
					</div>
					<div class="documents-main-row">
						<img src="assets/default.png" alt="" />
						Heating Services
					</div>
					<div class="documents-main-row">
						<img src="assets/default.png" alt="" />
						Pest Control
					</div>
					<div class="documents-main-row">
						<img src="assets/default.png" alt="" />
						Waste Removal
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
