<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div class="documents-header-left__arrow" (click)="back()">
						<span class="material-icons">arrow_back_ios</span>
					</div>
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img
							[src]="userService.thumb || 'assets/default.png'"
							alt="User"
						/>
					</div>
				</div>
				<div class="documents-header__title" translate>
					Services.Services
				</div>
				<div
					class="burger-wrap"
					(click)="isMenuOpen = !isMenuOpen"
					[class.burger-wrap--open]="isMenuOpen"
				>
					<div
						class="burger"
						[class.burger--close]="isMenuOpen"
					></div>
				</div>
			</div>

			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div
					class="documents-sidebar__close"
					(click)="isMenuOpen = false"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="Sidebar Image" />
					</div>
					<div class="documents-sidebar__title">Services</div>
					<div class="documents-sidebar__title">Filters</div>
					<div class="service-search">
						<input
							type="text"
							placeholder="Find service"
							[(ngModel)]="searchText"
						/>
						<div class="service-search__img">
							<span class="material-icons">search</span>
						</div>
					</div>
				</div>
			</div>

			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="services-main">
							<div class="documents_services_box">
								<div
									*ngFor="let service of filteredServices()"
									class="documents_services_box-item"
								>
									<div class="services-img">
										<img
											[src]="'assets/' + service.image"
											[alt]="service.name"
										/>
									</div>
									<div
										class="documents__service services__title"
									>
										{{ ('Service.' + service.name) |
										translate }}
									</div>
									<div
										class="documents__description services__description"
									>
										{{ ('ServiceDescription.' +
										service.description) | translate }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
