<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<core-back></core-back>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title" translate>
					Services.Services
				</div>
			</div>

			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<core-service
							*ngFor="let service of services"
							routerLink="/service/{{service.id}}"
							[service]="service"
						></core-service>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
