<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<core-back></core-back>
					<core-profile routerLink="/profile"></core-profile>
				</div>
				<div class="documents-header__title" translate>
					Common.Leads
				</div>
				<div class="burger-wrap">
					<i class="material-icons">add</i>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<wtab></wtab>

					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
						<div class="documents-tags">
							<div
								class="documents-tags__wrap"
								*ngFor="let tag of [{}, {}, {}, {}, {}]"
							>
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
