<div class="documents-wrapper" [class.documents-wrapper--open]="isMenuOpen">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<core-back></core-back>
					<core-profile></core-profile>
				</div>
				<div class="documents-header__title" translate>
					Myproperties.My real estate history
				</div>
				<div class="burger-wrap">
					<i class="material-icons" (click)="isMenuOpen = !isMenuOpen"
						>tune</i
					>
					<i class="material-icons" (click)="create()">add</i>
				</div>
			</div>
			<div
				class="documents-sidebar"
				[class.documents-sidebar--open]="isMenuOpen"
			>
				<div
					(click)="isMenuOpen = !isMenuOpen"
					class="documents-sidebar__close"
				>
					<span class="material-icons">close</span>
				</div>
				<div class="documents-sidebar-content">
					<div class="documents-sidebar__img">
						<img src="assets/default.png" alt="Sidebar Image" />
					</div>
					<div class="documents-sidebar__title">Records</div>
					<div class="documents-sidebar__description">
						<wbutton (click)="create()" class="mb-10"
							>Create</wbutton
						>

						<wselect
							[items]=" [
                            'sell / buy payment',
                            'service',
                            'materials',
                            'rent payment',
                            'incident'
                        ]"
							[placeholder]="'Type'"
							(modelChange)="type=$event; load()"
							[clearable]="true"
						></wselect>
					</div>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div
						*ngFor="let record of propertyRecords"
						class="documents-main-row"
					>
						<app-history
							[record]="record"
							(load)="load()"
							class="documents_records_box"
						></app-history>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
